*{ 
    margin: 0;
    padding: 0;
    border: 0;
}


body {
background-color: white;


}
p{ 
    margin: 1em;
}
a{
    margin: 1em;
}

#wrapper {
width: 1200px;
margin-left: auto;
margin-right: auto;
background-color: antiquewhite;
padding: 0em;
}

header{ 
background-image: url("friends.png");
background-repeat: no-repeat;
background-position: top right;
background-size: cover;
width: 4000;
height: 400px;
padding: 5em;
padding-top: 5px;

}
h1{ 
   display: flex;
   align-items: center;
   justify-content:center
   
}
h2 { 
width: fit-content;
padding-left: 5em;

}
.start-texst{
width: 300px;
width: max-content;
width: fit-content;


}
.bth{
display: block;
background-color: darkred;
color:white ;
padding: 20px;
border-radius: 0px;
width: 10em;
float: right;
margin-top: 230px;
text-align:center;
text-decoration: none;
text-transform: uppercase;

}
nav{ 
    background-color: lightgray;
    padding: 0.5em;
}
nav a { 
    color: black;
    text-decoration: none;
}
nav a:hover{ 
    text-decoration: underline;
}
nav li{ 
    display: inline; 
    margin-right: 2em;
    font-family:serif; 
}
.flex-layout {
    display:flex; flex-wrap: wrap;
}
.card{ 
    width: 366px; 
    padding: 3em
    
}
/***** main **** */

.col-left{ 
    float: right;
    width: 40%;
    text-align: center;


}.start-texst{
    float: left;
    width: 40%;
}
footer { 
clear: both;
padding: 2px;
}

