body {
background-color: gray;


}




#wrapper {
width: 1200px;
margin-left: auto;
margin-right: auto;
background-color: antiquewhite;
padding: 1em;
}

header{ 
background-image: url("image\ friends.png");
background-repeat: no-repeat;
background-position: right;
}